root = true

[*]
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 120

[*.{html,py,xml}]
indent_size = 4

[Makefile]
indent_style = tab
